URxvt.loginShell: true
URxvt.background: rgba:1600/1800/2100/f5c1
URxvt.cursorBlink: true
URxvt.depth: 32
URxvt.font: xft:iosevka-ss16-heavy:pixelsize=20,xft:DejaVuSansMono:pixelsize=16,xft:NanumMyeongjo:pixelsize=16
URxvt.boldFont: xft:iosevka-ss16-extrabold:pixelsize=20
URxvt.italicFont: xft:iosevka-ss16-heavy:style=Heavy Italic:pixelsize=20
URxvt.boldItalicFont: xft:iosevka-ss16-extrabold:style=Extrabold Italic:pixelsize=20
URxvt.letterSpace: 0
URxvt.internalBorder: 0
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt.scrollBar: false
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: false

Xcursor.size: 16

Xft.antialias: true
Xft.autohint: false
Xft.dpi: 92
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: none

! color:special
*.foreground:   #c6c8d1
*.background:   #161821
*.cursorColor:  #c6c8d1

! color:black
*.color0:       #1e2132
*.color8:       #6b7089

! color:red
*.color1:       #e27878
*.color9:       #e98989

! color:green
*.color2:       #b4be82
*.color10:      #c0ca8e

! color:yellow
*.color3:       #e2a478
*.color11:      #e9b189

! color:blue
*.color4:       #84a0c6
*.color12:      #91acd1

! color:magenta
*.color5:       #a093c7
*.color13:      #ada0d3

! color:cyan
*.color6:       #89b8c2
*.color14:      #95c4ce

! color:white
*.color7:       #c6c8d1
*.color15:      #d2d4de


! perl extensions
URxvt.perl-lib: /usr/lib/urxvt/perl
URxvt.perl-ext-common: default,keyboard-select,url-select
! ext:url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
! ext:keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
